{% extends "auctions/layout.html" %}

{% block title %}
Categories
{% endblock %}

{% block body %}

{% if not category %}
    <h2 class="mb-4">Categories</h2>

    <ul>
    {% for category in categories %}
        <li><a href="{% url 'category_list' category.category %}">{{ category.category }}</a></li>
    {% empty %}
        <li>No categories listed.</li>
    {% endfor %}
    </ul>
{% else %}
    <h2 class="mb-4">Category: {{ category }}</h2>

    <div class="w-75">
        <div class="list-group">
        {% for list in lists %}
            <a href="{% url 'item_page' list.id %}" class="list-group-item list-group-item-action p-0 d-flex overflow-hidden rounded mb-1">
            {% if list.image %}
                <img src="{{ list.image }}" class="img-fluid rounded-start image-list-placeholder" alt="auction_image_display">
            {% else %}
                <img src="https://placehold.co/200" class="img-fluid rounded-start image-list-placeholder" alt="auction_image_display">
            {% endif %}
                <div class="flex-grow-1 p-3">
                    <h5 class="mb-1">{{ list.title }}</h5>
                    <hr>
                    <p class="mb-1"><strong>Current price</strong> is ${{ list.default_bid }}</p>
                    <small class="text-muted">Created by {{ list.user.username }}</small>
                </div>
            </a>
        {% empty %}
            <p>No active listings.</p>
        {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}