{% extends "network/layout.html" %}
{% load static %}

{% block title %}
Following
{% endblock %}

{% block body %}
    <main>
        <h2>See post of who you follow</h2>

        <div id="post-container" class="mb-3">
            <input id="query-url" value="{% url 'following_list' %}" hidden>
            <input id="query-page" value="following" hidden>
            <input id="query-username" value="{{ default_user }}" hidden>
            <ul id="post-list" class="list-group"></ul>
        </div>

        <!-- Pagination -->
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center"></ul>
        </nav>

        <!--
        <div class="post-container mt-4">
            <ul class="list-group normal-fade-in">
            {% for post in posts %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0"><a class="text-decoration-none" href="{% url 'profile_index' post.username %}">{{ post.username }}</a></h4>
                        <span class="badge bg-primary rounded-pill"><i class="fa-solid fa-heart me-1"></i>{{ post.likes }}</span>
                    </div>
                    <p class="small text-muted m-0 mb-2">{{ post.date }}</p>
                    <p class="m-0">{{ post.content }}</p>
                </li>
            {% empty %}
                <p class="m-0">Nothing to see here.</p>
            {% endfor %}
            </ul>
        </div>
        -->
    </main>

{% endblock %}

{% block script %}
    <script src="{% static 'network/default.js' %}"></script>
{% endblock %}