{% extends "mail/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="card normal-form w-100 m-auto mt-5">
        <h6 class="card-header">Login</h6>
        <div class="card-body">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input autofocus class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
            </form>

            <p class="m-0">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        </div>
    </div>

{% endblock %}